html {
    font-size: 20px;
}

.emContainer {
    font-size: 10px;

}


.boxWrap {
    float: left;
    margin-left: 0.5rem;
    text-align: center;
}

.box {
    color: white;
}

.box p {
    display: inline-block;
    margin-top: 15%;
}

.px {
    width: 160px;
    height: 160px;
    background: #1abc9c;
}

.rem {
    width: 10rem;
    height: 10rem;
    background: #4aa3df;
    font-size: 2rem;
}

.em {
    width: 10em;
    height: 10em;
    background: #34495e;
    font-size: 2em;
}

.width {
    margin-top: 0.5rem;
}